html {
  font-size: 62.5%;
}
html,
body {
  margin: 0;
  padding: 0;
  color: #ededed;
  box-sizing: border-box;
  src: url('fonts/FiraCode.woff') format('woff');
  font-family: 'Fira Code', monospace;
}
body {
  font-size: 1.6rem;
}
#page {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-areas: "nav" "main" "foot ";
  grid-template-rows: 40px 1fr 30px;
  grid-template-columns: 1fr;
}
header {
  width: 100%;
  min-height: 500px;
  background-color: #3a3a3a;
  display: flex;
  justify-content: center;
  align-items: center;
}
#page nav {
  grid-area: nav;
  background-color: #272727;
  display: flex;
}
#page nav a {
  text-decoration: none;
  color: #ededed;
  background-color: #2d2d2d;
  text-align: center;
  height: 40px;
  width: 150px;
  line-height: 40px;
}
#page nav .selected {
  background: #202020;
  border-bottom: solid #0ca3fc 2px;
  height: 38px;
}
#page main {
  grid-area: main;
  background-color: #212121;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}
#page footer {
  grid-area: foot;
  background-color: #0385d2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: solid #0ca3fc 1px;
}
.card {
  background: #2a2a2b;
  color: #ededed;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 2px 16px;
  max-width: 800px;
  margin: 10px;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
