// main: ./index.less
.card-pad(@top,@bottom) {
  padding-top: @top;
  padding-bottom: @bottom;
}

.yellow {
  background-color: @bugs-icon-color;
}

.blue {
  background-color: @project-icon-color;
}

.lightblue-text {
  color: @project-icon-color;
}
