// main: ./index.less
@nav-height: 40px;

// Color Variables
@base-font-color: #ededed;
@base-nav-color: #272727;
@base-header-color: #3a3a3a;
@base-nav-tab-color: #2d2d2d;
@base-main-background-color: #212121;

@base-card-color: #2a2a2b;

// Base theme colors
@accent-primary: #0385d2;
