// main: ./index.less
@nav-height: 60px;

// Color Variables
@base-font-color: #ededed;
@base-nav-color: #272727;
@base-header-color: #3a3a3a;
@base-nav-tab-color: #2d2d2d;
@base-main-background-color: #212121;
@base-card-color: #2a2a2b;

//Icon colors
@home-icon-color: #e7582b;
@project-icon-color: #4caef6;
@bugs-icon-color: #ffd12d;

// Base theme colors
@accent-primary: #0385d2;

// Resonsive
@mobile: ~'(max-width: 500px)';
@tablet: ~'(max-width: 800px)';
@desktop: ~'(max-width: 1000px)';

@one-col: ~'(max-width: 650px)';
@two-col: ~'(max-width: 1000px)';
@three-col: ~'(max-width: 1280px)';
