// main: ../index.less
@import '../vars';
@import '../mixins';

.large {
  display: block;
  min-height: 500px;
  width: 100%;
}

p {
  width: 70%;
  margin-left: 15rem;
  @media @mobile {
    margin-left: 0rem;
  }
}

h2 {
  margin-left: 5rem;
}
