// main: ../index.less
@import '../vars';
@import '../mixins';

@import '../components/grid.less';

#loading {
  min-height: 100%;
  .center();
}

.project-section {
  width: 95%;
  margin-bottom: 50px;
}
