// main: ../index.less
@import '../vars';
@import '../mixins';

@import '../components/grid.less';

section {
  width: 800px;

  @media @tablet {
    width: 600px;
  }

  @media @mobile {
    width: 500px;
  }
}
