// main: ../index.less

@import '../vars';
@import '../mixins';

.card {
  background: @base-card-color;
  color: @base-font-color;

  min-width: 300px;
  margin: 10px;

  .shadow(0.4);
  .round(1rem);
  .animate();

  .card-header {
    overflow: hidden;
    height: 150px;
    min-width: 100%;
    .round(1rem, true);
  }

  .card-body {
    min-height: ~'calc(100% - 150px)';
    .pad(16px);
  }

  &.avatar {
    height: 340px;

    .avatar {
      width: 140px;

      .center();
      .popOut(80px);
      .round();
      .border();

      img {
        width: 100%;
        vertical-align: middle;
      }
    }

    .card-body {
      .pad(16px, 2px);
    }

    .member-link {
      color: @base-font-color;
      text-decoration: none;
    }
  }
}
