// main: ../index.less
@import '../vars';
@import '../mixins';

main {
  grid-area: main;
  background-color: @base-main-background-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}
