// main: ../index.less
@import '../vars';
@import '../mixins';

footer {
  grid-area: foot;
  background-color: @first-accent-color;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-top: solid lighten(@first-accent-color, 10%) 1px;

  * {
    margin: 0 8px;
  }

  @media @mobile {
    display: none;
  }
}
