// main: ../index.less
@import '../vars';
@import '../mixins';

.grid {
  display: grid;
  grid-template-columns: auto auto auto auto;

  @media @three-col {
    grid-template-columns: auto auto auto;
  }

  @media @two-col {
    grid-template-columns: auto auto;
  }

  @media @one-col {
    grid-template-columns: auto;
  }
}
