// main: ../index.less
@import '../vars';
@import '../mixins';

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 1fr;

  @media @two-col {
    grid-template-columns: 1fr 1fr;
  }

  @media @one-col {
    grid-template-columns: 1fr;
  }
}
