// main: ../index.less
@import '../vars';
@import '../mixins';

header {
  width: 100%;
  min-height: 500px;
  background-color: #3a3a3a;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5rem;

  video {
    width: 100%;
  }
}
