// main: ../index.less
@import '../vars';
@import '../mixins';

header {
  width: 100%;
  min-height: 500px;
  background-color: @base-header-color;
  display: flex;
  justify-content: center;
  align-items: center;
}
