// main: ../index.less
@import '../vars';
@import '../mixins';

header {
  margin: 10px auto;
  width: 100% - 5rem;
  background-color: #3a3a3a;
  display: flex;
  justify-content: center;
  align-items: center;

  video {
    width: 100%;
  }
}
